<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>v2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
				<key>dateExpires</key>
				<string>11/12/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_blue_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>map_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>native_barcode_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>smart_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2C4E96F7A6EA4AEB8193BF7990BB2DA90C583CE7</string>
						<key>dateExpires</key>
						<string>11/12/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93NHJ59X2</string>
						<key>name</key>
						<string> TAKARA SERVICE, K.K.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G93NHJ59X2.jp.takaraservice.evcharge</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>G93NHJ59X2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>416da77c-0cce-4525-9e75-58a4618604d8</string>
				<key>dateExpires</key>
				<string>11/12/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: jp.takaraservice.evcharge</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G93NHJ59X2</string>
				<key>name</key>
				<string> TAKARA SERVICE, K.K.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
